@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <p style="text-align: center;">Ara&ccedil; Kiralama Servisine Hoşgeldiniz,</p>

<p>Bu sistemi kullanarak ihtiya&ccedil;larınıza uygun otomobili kiralayabilir. 
    Ailenizle ve sevdiklerinizle g&uuml;venli yolculuklar yapabilirsiniz. Hemen kiralamak istiyorsanız Sağ &uuml;st
    sekmeden Ara&ccedil;ları g&ouml;r&uuml;nt&uuml;le butonuna tıklayarak sizlere sunabileceğimiz ara&ccedil;ları g&ouml;rebilirsiniz.</p>
</div>
